body {
    background-color: #ffffff;
    font-family: 'Arial', sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-box {
    background-color: #cde0f0;
    padding: 50px;
    border-radius: 15px;
    width: 300px;
    position: relative;
    text-align: center;
  }
  
  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .logo img {
    width: 120px;
  }

  .botao-voltar {
    position: absolute;
    top: 20px;
    left: 20px; 
  }

  .icone-botao {
    width: 30px;
    height: 30px;
  }
   
  h2 {
    font-family: Tahoma, sans-serif;
    font-size: 25px;
    color: #013a63;
    margin: 15px 0;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    
  }
  
  label {
    text-align: left;
    font-weight: 500;
    margin-bottom: -8px;
    color: #0D3B66;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
  }
  
  input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
  }
  
  .recuperar {
    text-align: right;
  }
  
  .recuperar a {
    font-size: 12px;
    color: #012a4a;
    text-decoration: none;
  }
  
  button {
    margin-top: 10px;
    background-color: #012a4a;
    color: #ffffff;
    padding: 12px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .cadastro-texto {
    margin-top: 20px;
    font-size: 13px;
    color: #000000;
  }
  
  .azul {
    color: #007bff;
  }