/* Reset global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body,
html {
  height: 100%;
}

/* Estilo para a página de cadastro */
.fundo {
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #cde0f1;
  border-radius: 15px;
  padding: 40px 30px;
  width: 100%;
  max-width: 400px;
  position: relative;
  box-shadow: 0 2px 8px #0000001a;
}

.logo {
  display: block;
  margin: 0 auto 15px;
  width: 90px;
}

h2 {
  text-align: center;
  color: #003b66;
  margin-bottom: 30px;
  font-size: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  color: #003b66;
  font-weight: bold;
}

input {
  padding: 10px;
  border: none;
  border-radius: 6px;
  margin-bottom: 20px;
  font-size: 14px;
}

button {
  background-color: #003b66;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #002b4d;
}

.login-link {
  text-align: center;
  font-size: 13px;
  margin-top: 20px;
}

.login-link a {
  color: #007bff;
  text-decoration: none;
  font-weight: 600;
}

.botao-voltar {
  position: absolute;
  top: 30px;
  left: 30px;
}

.icone-botao {
  width: 30px;
  height: 30px;
}

/* Responsividade */
@media (max-width: 768px) {
  .card {
    padding: 30px 20px;
    max-width: 90%;
  }

  h2 {
    font-size: 18px;
  }

  input,
  button {
    font-size: 16px;
  }

  .login-link {
    font-size: 12px;
  }

  .botao-voltar {
    top: 20px;
    left: 20px;
  }

  .icone-botao {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 480px) {
  .card {
    padding: 20px 15px;
    max-width: 90%;
  }

  h2 {
    font-size: 16px;
  }

  input,
  button {
    font-size: 14px;
  }

  .login-link {
    font-size: 10px;
  }
}
